body {
    background: url("../images/cinema.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0px;
    padding: 0px;


}

header {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 50px;
    margin: 0px;
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: black;
    background-size: auto;
    position: relative ;
    font-size: 4vh;
    text-shadow: 2px 2px 8px red

}

.shadow-text {
  text-shadow: 4px 4px 8px black !important
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


